html, body {
    max-width: 100%;
    overflow-x: hidden;
}

section .elementor-container h1 {
	font-size: 54px;
}

section .elementor-container h2 {
	font-size: 46px;
}

section .elementor-container h3 {
	font-size: 32px;
}

section .elementor-container h4 {
	font-size: 26px;
}

section .elementor-container p {
	font-size: 18px;
}

#site-header .header-inner .website-logo {
    max-width: 100px;
    object-fit: contain;
}

.site-branding.show-title .site-title.show {
    font-size: 30px;
}

.site-branding.show-title .site-description.show {
    font-size: 16px;
}

.payment-logos {
    max-width: 200px;
    object-fit: contain;
}

#site-header .header-inner {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px 0;
    max-width: 1500px;
}

#site-header .header-inner img {
    width: 100%;
    max-width: 150px;
    height: auto;
}

#site-footer {
    display: none;
}

.hidden,
.hide-lg {
    display: none!important;
}

@media (max-width: 768px) {
    #site-header .header-inner {
        justify-content: center;
    }

    #site-header .header-inner * {
        text-align: center;
    }

    #site-header .header-inner img {
        max-width: 100px;
    }
}